@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL THEMING -------------------------------------------- */

:root {
  --background: radial-gradient(
    circle 815px at 26% 0%,
    rgba(9, 29, 85, 1) 0.2%,
    rgba(0, 0, 0, 1) 100%
  );
  --code-background: rgb(58, 58, 70);
}

[data-theme='light'] {
  --background: radial-gradient(
    circle 815px at 26% 0%,
    rgb(170, 186, 230) 0.2%,
    rgb(216, 216, 216) 100%
  );
  --code-background: rgb(216, 216, 216);
}

/* GENERAL ------------------------------------------------ */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  display: flex !important;
  flex-direction: column;
  min-height: 100vh;
  background-image: var(--background);
}

main {
  flex: 1 0 auto;
  scroll-margin-top: 64px;
}

footer {
  flex-shrink: 0;
  padding: 1rem 0 0.5rem 0;
}

/* GLOBAL COMPONENTS ----------------------------------- */

.fixed-buttons {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 500;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.fixed-button {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.up-button {
  background-color: #8a8d92;
  color: #ffffff;
  scroll-margin-top: 64px;
}

.theme-button {
  background-color: #6f97d8;
  color: #ffffff;
}

/* UTILITY CLASSES ------------------------------------- */

.rounded-avatar {
  border-radius: 33% 67% 55% 45% / 30% 47% 53% 70% !important;
}

/* Link */

@layer components {
  .custom-link {
    text-decoration: underline;
    color: rgb(106, 221, 230);
    transition: color 0.1s ease;

    &:hover {
      color: rgb(86, 182, 189);
    }
  }
}

[data-theme='light'] .custom-link {
  @apply text-primary;

  &:hover {
    @apply text-primary-focus;
  }
}

.custom-link-no-underline {
  text-decoration: none !important;
}

/* finish Link */

.stick-to-top {
  position: sticky !important;
  top: 75px;
}

.title {
  text-wrap: balance;
  font-size: 3rem;
  line-height: 1.25;
}
